*, *::after, *::before {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.text-center {
	text-align: center;
}

.accordion {
	width: 500px;
	height: auto;
	border: 2px solid black;
	background-color: rgba(235, 237, 135, 0.5);
	padding: 15px;
}

.mainTitle {
	font-size: 1.6rem;
	font-weight: bolder;
	color: blue;
}

.question {
	background: rgba(181, 245, 238);
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 8px;
	border-radius: 15px;
	margin: 20px 10px;
}

.questionHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);*/
}

.questionTitle {
	font-size: 1.15rem;
	font-weight: bold;
}

.btn {
	background: none;
	border: none;
	outline: none;
	font-size: 2.5rem;
	color: red;
	cursor: pointer;
}

.questionText {
	font-family: 'poppins', sans-serif;
	font-size: 19px;
	text-align: justify;
}

.questionText {
	display: none;
}

.minusIcon {
	display: none;
}

/*Hide texts*/

.showText .questionText{
	display: block;
}

.showText .plusIcon {
	display: none;
}

.showText .minusIcon {
	display: inline;
}


